nav ul li a{
    color: #000;
}
/* =======================================
                 about start
=========================================*/
#about_part{
    padding-top: 113px;
    margin-top: 50px;
    padding-bottom: 20px;
}
#about_part h1{
    margin-bottom: 18px;
}
#about_part ul{
    padding-left: 0;
}
#about_part ul li{
    color:rgb(0, 0, 0);
    margin-top: 15px;
}
#about_part ul li i{
    margin-right: 15px;
}
#about_part .icon img{
    margin-right: 12px;
}
#about_part h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:rgb(0, 0, 0);
    margin-top: 7px;
}

/* =======================================
                 about end
=========================================*/
