nav ul li a{
    color: #000;
}
/* =====================================
           contact start
====================================== */
#contact-part{
    margin-top: 125px;
    margin-bottom: 290px;
    background: #000;
    
}
#contact-part img{
    margin-left: 40px;
    position: relative;
    z-index: 2;
   
}
#contact-part .img{
    background: url("pic/comp2.png") no-repeat center;
    background-size: cover;
    position: relative;
    padding: 145px;

    height: 455px;
    
}
#contact-part .img .box{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}
#contact-part .img .item{
    width: 50%;
    position: absolute;
    margin-top: -604px;
    
}
#contact-part  .item h2{
    font-family: 'Syne', sans-serif;
    font-size: 44px;
    font-weight: 400;
    width: 409px;
    color: #fff;
    margin-top: 70px;
    margin-left: 25px;
}
#contact-part  .item .details{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 504px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    margin-left: 25px;

}
#contact-part  .item input{
    width: 365px;
    padding: 24px;
    border-radius: 13px;
    border: 0;
    margin-left: 25px;

}
#contact-part  .item input::placeholder{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}
#contact-part  .item button{
    border-radius: 13px;
    border: 0;
    color: #fff;
    background: #f45c20;
    padding: 20px 44px;
    margin-left: 52px;
    color: #fff;
    margin-left: 19px;

}
#contact-part  .item .detailslink{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 44px;
    margin-left: 25px;
}
#contact-part  .item .detailslink a{
   
    text-decoration: underline;
}

#contact-part .img .bottompicture img {
    position: absolute;
    margin-top: -290px;
    margin-left: -302px;
    z-index: 1;
    height: 290px;
    width: 1664px;
}
/* =====================================
            contact  end
====================================== */
